<!DOCTYPE html>
<html>
  <head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/all.css" />
  </head>
  <body>
    <header>
      <a href="#" class="brand">Placesmania</a>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About us</a>
          <a href="/destination">Destinations</a>
          <a href="/contact">Contact us</a>
        </div>
      </div>
    </header>
    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>To help tourist to explore best in India</h3>
            <p>
              In this website we provide information about various tourist<br />
              destinations, modes of travel, Entry fees, Nearby places, etc .The
              main objective of placesmania is to suggest the tourist best
              places to travel and to plan a trip in more precise way.
              Placesmania is best destination suggestion stop to all of your
              vacation planning requirements.
            </p>
            <div class="button">
              <a href="">Read More</a>
            </div>
          </div>
          <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <div class="row">
          <div class="image-section">
            <img src="Images/Travel.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
