<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Guide</title>
    <link rel="stylesheet" href="styles/all.css" />
  </head>
  <body>
    <header>
      <a href="#" class="brand"> Placesmania </a>
      <div class="weather-container">
        <p><%= temp %>°C</p>
        <img src="<%= imgURL %>" alt="Weather Icon" />
        <p><%= wetherDes%></p>
      </div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="/">Home</a>
          <a href="/about">About us</a>
          <a href="/destination">Destinations</a>
          <a href="/contact">Contact us</a>
        </div>
      </div>
    </header>
    <section class="home">
      <img class="image" src="Images/Queen’s-Necklace-Mumbai.jpg" />

      <div class="content">
        <h1>Tour to <br /><span> Dream City</span><span>Mumbai</span></h1>
      </div>
    </section>
  </body>
</html>
