<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5 Beaches in Mumbai</title>
    <link rel="stylesheet" href="styles/destination.css" />
  </head>
  <body>
    <header>
      <h1 class="headline">TOP 5 BEACHES IN MUMBAI</h1>
    </header>

    <section class="beach">
      <h2>1.SHREE SIDDHIVINAYAK TEMPLE</h2>
      <img
        src="Images\siddhivinayak-temple-mumbai.jpg"
        alt="Siddhivinayak Temple"
        class="beach-img"
      />
      <p class="paragraph">
        Dedicated to Lord Shri Ganesh, the Siddhivinayak Temple is one of the
        richest temples in Mumbai. The Siddhivinayak temple dates back to the
        18th Century and was once a small construction highlighting the black
        idol of Shree Siddhivinayak, carved out of stone. Today the
        Siddhivinayak Temple in Mumbai is a unique six-story construction with a
        golden dome on the top. Nonetheless, the black idol of Shree
        Siddhivinayak has an unusual feature, the trunk turns to the right which
        is not often found on Ganesh idols. Being one of the busiest temples in
        Mumbai, people often queue up for the Siddhivinayak Darshan. The temple
        also facilitates footwear stand, drinking water, wash rooms,
        wheelchairs, and medicals.
      </p>
      <div class="details">
        <strong>Location:</strong
        ><a href="https://goo.gl/maps/QzBNXgnE5zSfJQnK7">
          S.K.Bole Marg, Dadar, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Dadar<br />
        Nearby bus stop - Siddhivinayak Temple<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby visiting places:</strong> Chaitya bhoomi, Shivaji Park,
        Dadar chowpatty beach, Bandra-Worli sea link, Mahim Beach, Swami Narayan
        Temple, Rajgruh, Swarkar Smarak
      </div>
    </section>

    <section class="beach">
      <h2>2. MUMBA DEVI TEMPLE</h2>
      <img
        src="Images\mumba devi mandir.jpg"
        alt="Mumba Devi Temple"
        class="beach-img"
      />
      <p class="paragraph">
        Mumba Devi Temple is a renowned ancient temple dedicated to 'Goddess
        Mumbadevi'. This beautiful temple situated in Mumbai was built in the
        18th century. The Mumba Devi Temple is open on all days except Mondays.
        Apart from the regular devotees who flock the temple, tourists from all
        over the world too, come to admire this gorgeous temple in Mumbai.
        Mumbai city derives its name from the Goddess Mumbadevi and therefore,
        this temple is truly an important structure for the dwellers of this
        beautiful city.
      </p>
      <div class="details">
        <strong>Location:</strong
        ><a href="https://goo.gl/maps/dg2BDohFNbj8g3p19">
          Bhuleshwar, Mahalaxmi, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Mahalaxmi<br />
        Nearby Bus stop - Mumbadevi<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby visiting places:</strong> Mahalaxmi Race course, Nehru
        center, Dhobhi ghat, Saat rasta, Haji ali dargah, Mahalaxmi Temple
      </div>
    </section>

    <section class="beach">
      <h2>3. HAJI ALI DARGAH</h2>
      <img
        src="Images\haji_ali_dargah.jpg"
        alt="Haji Ali Dargah"
        class="beach-img"
      />
      <p class="paragraph">
        An amazing tourist attraction and a renowned pilgrimage site for
        Muslims, the Haji Ali Dargah is located in the middle of the Arabian Sea
        about 457.2 metres away from the Mumbai shoreline off Lala Lajpatrai
        Marg. Constructed in the year 1431, the sculptured and elegant
        whitewashed structure of the dargah showcases the brilliant work of
        Indo-Islamic style of architecture. This stunning white-coloured dargah
        attracts about 10-15 thousand people daily. God lovers from all over the
        world, irrespective of caste, creed and religion visit the dargah to
        offer their prayers and get their wishes fulfilled by the blessings of
        the revered Saint.
      </p>
      <div class="details">
        <strong>Location:</strong
        ><a href="https://goo.gl/maps/3ZbtSSrsrCoaccT29">
          Lala Lajpatrai Marg Mahalaxmi Race Course, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Mahalaxmi<br />
        Nearby Bus Stop - Haji ali dargah<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby visiting places:</strong> Mahalaxmi Race course, Nehru
        center, Dhobhi ghat, Saat rasta, Mumbadevi Temple
      </div>
    </section>

    <section class="beach">
      <h2>4. MOUNT MARY CHURCH</h2>
      <img
        src="Images\mount mary church.jpg"
        alt="Mount Mary Church"
        class="beach-img"
      />
      <p class="paragraph">
        The Basilica of Our Lady of the Mount, more commonly known as Mount Mary
        Church, situated in Mumbai. This ancient church, built in 1640 and then
        rebuilt in 1761. The church enjoys a stunning view of the joyfully
        bustling Arabian Sea as it beautifully reflects different shades of
        blue. It is believed that those who sincerely pray at the Mount Mary
        Church often get their wishes fulfilled. The 'Bandra Fair' or the 'Feast
        of Mount Mary' is a week-long celebration held every September at the
        Mount Mary Church. Tourists from all over the world who visit Mumbai
        always make sure to visit this popular church while in the city.
      </p>
      <div class="details">
        <strong>Location:</strong
        ><a href="https://goo.gl/maps/pZSjWtgE2Wb3Y9zNA">
          Mount Mary Road Bandra West, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Bandra<br />
        Nearby Bus Stop - Mount Mary<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby visiting places:</strong> Pali hills, Bandra Bandstand,
        Bandra worli sea link, BKC, Linking road, Galaxy Apartment, Mannat
      </div>
    </section>

    <section class="beach">
      <h2>5. AFGHAN CHURCH</h2>
      <img
        src="Images\The-Afghan-Church-Colaba-min-540x360.jpg"
        alt="Afghan Church"
        class="beach-img"
      />
      <p class="paragraph">
        Afghan Church is an Anglican Church in Mumbai, In Colaba Island situated
        at the southern end of the city, church of St. John the Evangelist is
        located. Work on this church began in 1847 commemorating the Afghan
        wars. Local basalt and limestone were used to build the church. Inside,
        there are wide gothic arches and intricate stained-glass windows. The
        church lies in a quiet, peaceful neighbourhood, surrounded by trees. It
        remains an iconic architectural landmark and a popular spot for tourists
        and curious heritage enthusiasts.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/AQqSqb1SuFAj7jpMA">
          Nagar, Colaba, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Churchgate<br />
        Nearby Bus Stop - Afghan church<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby visiting places:</strong> Kala ghoda, Asiatic society
        library, Bombay Samachar, Bombay High court, Flora fountain, Marine
        Lines, Wankhede stadium, Fashion street, Rajabhai tower
      </div>
    </section>

    <!-- Repeat similar sections for other beaches -->
  </body>
</html>
