<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5 Beaches in Mumbai</title>
    <link rel="stylesheet" href="styles/destination.css" />
  </head>
  <body>
    <header>
      <h1 class="headline">TOP 5 shopping in MUMBAI</h1>
    </header>

    <section class="beach">
      <h2>Colaba Causeway Market</h2>
      <img
        src="Images\Colaba-Causeway.jpg"
        alt="Colaba Causeway Market"
        class="beach-img"
      />
      <p class="paragraph">
        Colaba Causeway Market is a vibrant shopping area punctuated with a
        range of quaint, casual eateries. Pick up bespoke designs from exclusive
        boutiques, or if you are feeling adventurous, you could try your hand at
        bargaining with street vendors for ethnic jewellery, handicrafts,
        clothes and books. Not only Indians but many foreigners throng this
        market because it lies close to the famous Taj Mahal Palace hotel.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/CjdZbw8yfSpPzMk86"
          >Bakery Ln, Colaba, Mumbai.</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Churchgate<br />
        Nearby bus stop - Colaba Causeway depot<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby Places to visit:</strong> Kala ghoda, Asiatic society
        library, Bombay Samachar, Bombay High court, Flora fountain, Marine
        Lines, Wankhede stadium, Fashion street, Rajabhai tower
      </div>
    </section>

    <section class="beach">
      <h2>Zaveri Bazaar</h2>
      <img
        src="Images\Zaveri-Bazaar-mumbai.jpg"
        alt="Zaveri Bazaar"
        class="beach-img"
      />
      <p class="paragraph">
        Zaveri Bazaar is one of the most popular jewelry markets in the island
        city of India. One of the biggest hubs for B2B and B2C merchandizing,
        Zaveri Bazaar, as the name suggests, is a jewelry souk, just north of
        Crawford Market. Here, tourists will find thousands of small jewelry
        shops selling precious stones, uncut jewelry, gold, silver, brassware
        and even platinum jewelry. Some of the biggest jewelry brands in India
        have also established their stores in this crowded market.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/YdSiPVoTSJyVBEhr6"
          >Bhuleshwar, South Mumbai.</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Marine Lines<br />
        Nearby bus stop - Zaveri bazar<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby Places to visit:</strong> Crawford Market, Bhuleshwar
        Market
      </div>
    </section>

    <section class="beach">
      <h2>Crawford Market</h2>
      <img
        src="Images\crowford market.jpg"
        alt="Crawford Market"
        class="beach-img"
      />
      <p class="paragraph">
        Crawford Market is a popular spot for buying all the household items.
        Whether you are planning on buying vegetables or poultry, then Crawford
        Market is the place to be. Crawford Market was the main wholesale market
        till 1966. Spanning around 72000 sq. yards, this market is also famous
        for its splendid architecture. Norman and Flemish styles can be seen in
        the architecture, depicting elements of the old-world charm in a modern
        city. The mix of the fragrances vegetables, combined with the aromas of
        the fresh cheese and homemade chocolate, make it an interesting visit
        for tourists.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/fa8z4xtYmXHagHmR6"
          >Mohammed Ali Road, South Mumbai.</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Masjid bandar<br />
        Nearby bus stop - Crawford market<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby Places to visit:</strong> Zaveri bazar, Bhuleshwar market
      </div>
    </section>

    <section class="beach">
      <h2>Linking Road, Bandra</h2>
      <img
        src="Images\Linking-Road.jpg"
        alt="Linking Road, Bandra"
        class="beach-img"
      />
      <p class="paragraph">
        This area of Bandra is famous for street shopping, eating, and hanging
        out. Linking Road is always bustling with vendors, customers,
        passers-by, etc. A large number of people head to this area for
        entertainment and sightseeing also. Hence, the traffic is usually
        slow-moving here. People visit to shop, to explore and even hope to come
        across a celebrity here. The market places are colorful with top-end
        brands, local products, and even rip-offs. People get to buy whatever
        suits their budget. It is recommended that visitors spend a good amount
        of time at Hill Road to be able to explore the stores and the adjoining
        posh areas of Hill Road.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/Y5E91yWodShtZAUE8"
          >Linking Road, Bandra West, Mumbai.</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Bandra<br />
        Nearby bus stop - Bandra link road<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby Places to visit:</strong> Pali hills, Bandra Bandstand,
        Bandra worli sea link, BKC, Mount Mary church, Galaxy Apartment, Mannat.
      </div>
    </section>

    <section class="beach">
      <h2>Chor Bazaar</h2>
      <img src="Images\Chor-Bazaar.jpg" alt="Chor Bazaar" class="beach-img" />
      <p class="paragraph">
        Chor Bazaar is one of the largest markets and one of the famous
        attractions in Mumbai, Maharashtra. Also known as the biggest flea
        market in the country, Chor Bazaar has a legend associated with it.
        People say if one loses anything in the city, they can buy it back at
        this Bazaar. The sellers mostly deal second-hand goods, but yes, there
        would be some items that have been stolen. It is a bustling marketplace
        with shops and kiosks installed very close to one another on narrow
        lanes.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/YwnLpUcXQ412mfRL8"
          >Mohammed Ali Rd, Pydhonie in Mumbai.</a
        ><br />
        <strong>How to reach:</strong> Nearby railway station - Bombay
        Central<br />
        Nearby bus stop - Chor bazar<br />
        <strong>Entry Fee:</strong> No Entry Fee<br />
        <strong>Nearby Places to visit:</strong> Bhendi Bazar, Maratha mandir
        Theater.
      </div>
    </section>

    <!-- Repeat similar sections for other beaches -->
  </body>
</html>
