<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5 Beaches in Mumbai</title>
    <link rel="stylesheet" href="styles/destination.css" />
  </head>
  <body>
    <header>
      <h1 class="headline">TOP 5 Zoo-Aquarium-Museum in MUMBAI</h1>
    </header>

    <section class="beach">
      <h2>Veermata Jijabai Bhosale Udyan</h2>
      <img
        src="Images\veermata jijabai bhosale udyan.jpg"
        alt="Zoo"
        class="beach-img"
      />
      <p class="paragraph">
        Formerly known as Ranichi Bagh meaning Queen's Gardens. Its former name
        is a depiction of the original British name Victoria Gardens. Now it is
        also known as Veermata Jijabai Bhosale Udyan and Zoo. In Byculla, the
        zoo is located in the centre of the city. Many wild species, including
        as lions, monkeys, crocodiles, elephants, and others, can be seen in
        separate enclosures within the zoo. The aviary offers a diverse
        collection of colourful and raucous birds. A medicinal garden, a
        butterfly enclosure, and a tactical garden for the sight handicapped
        will all be part of the makeover. The zoo has recently opened its
        penguin cage to the public, where you can see eight happy and friendly
        penguins entertain you with their charming antics.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/HkpMVAmHqgJamdax7"
          >Dr. B.Ambedkar Road, Byculla (East), Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearest Railway Station - Byculla
        Station<br />
        Nearby Bus Station - Veermata Jijabai Bhosale Udyan<br />
        <strong>Entry Fee:</strong> Adults: INR 100, Kids (3-12 years): INR
        25<br />
        <strong>Nearby Places to visit:</strong> Bhau Daji Lad museum, Heritage
        area.
      </div>
    </section>

    <section class="beach">
      <h2>Chhatrapati Shivaji Maharaj Vastu Sangrahalaya</h2>
      <img
        src="Images\CSM vastu-sangrahalaya.jpg"
        alt="Museum"
        class="beach-img"
      />
      <p class="paragraph">
        Chhatrapati Shivaji Maharaj Vastu Sangrahalaya, formerly known as the
        Prince of Wales Museum of Western India, is one of India's most
        important art and history museums. The Museum building, located on the
        'Crescent Site' on Mumbai's southern point, is a remarkable example of
        Indo-Saracenic architecture. This structure is now classified as a Grade
        I heritage structure and was awarded the 2010 UNESCO Asia-Pacific
        Heritage Award for Cultural Heritage Conservation. The Indian Heritage
        Society has also given it top place for Heritage Building Maintenance.
        The mission of the Chhatrapati Shivaji Maharaj Vastu Sangrahalaya
        (CSMVS) is to raise awareness and sensitivity about our rich legacy by
        providing a visitor-friendly museum for education, study, and enjoyment
        of the public.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/zYWSFF8GwLxxDKoA9"
          >159-161, Mahatma Gandhi Road, Fort, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearest Railway Station - Mumbai CSMT<br />
        Nearby Bus Station - Veermata Jijabai Bhosale Udyan<br />
        <strong>Entry Fee:</strong> Applicable Indian Adult (Above 12 years):
        ₹70, Documentary fee: ₹40, Combination fee: ₹100<br />
        <strong>Nearby Places to visit:</strong> Gateway of India, Taj Mahal
        Palace hotel, Arabian Sea, Oberoi hotel, CSM Vastu Sangrahalay.
      </div>
    </section>

    <section class="beach">
      <h2>Mani Bhavan Gandhi Museum</h2>
      <img src="Images\mani-bhavan.jpg" alt="Mani Bhavan" class="beach-img" />
      <p class="paragraph">
        For approximately seventeen long and eventful years, Mani Bhavan, a
        modest two-story building on the Laburnum Road in the fairly tranquil
        neighbourhood of Gamdevi, functioned as Gandhiji's Bombay headquarters
        (1917-1934). When you enter the building, there is a library with a
        Mahatma Gandhi statue. Then, on the first level, a large photo exhibit
        containing photographs from Gandhi's boyhood through his killing, as
        well as press cuttings, leads visitors up a stairway littered with
        Gandhi's pictures illustrating his life. The room where Gandhi stayed is
        on the second story, with a glass divider through which visitors can see
        two of his spinning wheels, a book, and a still-preserved floor-bed.
        Right opposite the room there is a hall where photographs and paintings
        of his lifetime are on display.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/o5opkFn6pKMNHQ7t5"
          >Laburnum Road, Gamdevi, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Grand Road<br />
        Nearby Bus Station - Mani Bhavan Gandhi Museum<br />
        <strong>Entry Fee:</strong> No Fees<br />
        <strong>Nearby Places to visit:</strong> Haji Ali Dargah, Walkeshwar
        Temple.
      </div>
    </section>

    <section class="beach">
      <h2>Sanjay Gandhi National Park</h2>
      <img
        src="Images\sanjay-gandhi-national-park-mumbai-indian-tourism-opening-time-closing.jpg"
        alt="Sanjay Gandhi National Park"
        class="beach-img"
      />
      <p class="paragraph">
        Sanjay Gandhi National Park is perfect for picnics and weekend
        excursions, providing a welcome break from the city's hustle and bustle.
        Visitors flock in their hundreds to see Leopards, Macaques, Boars,
        Lions, Kingfishers, Sunbirds, and a large variety of butterflies at one
        of the most popular national parks in the world. The more than two
        thousand-year-old Kanheri caverns are also a prominent tourist
        attraction inside the park's grounds. The caves were created out of the
        granite outcroppings. Within the forest, there are two artificial lakes
        that are home to crocodiles and migratory birds every year. The city
        gets its drinking water from the lakes. The Sanjay Gandhi National Park
        is notable for its deep evergreen woods, abundant birdlife, butterflies,
        and a tiny tiger population.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/Z35wQmGtSytnmKQn6">Borivali East, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Borivali<br />
        Nearby Bus Station - Sanjay Gandhi National Park<br />
        <strong>Entry Fee:</strong> Entry fee per person: ₹36<br />
        <strong>Nearby Places to visit:</strong> Kanheri Caves, Sanjay Gandhi
        National Park Garden.
      </div>
    </section>

    <section class="beach">
      <h2>Taraporewala Aquarium</h2>
      <img
        src="Images\taraporwala aquarium.jpg"
        alt="Taraporewala Aquarium"
        class="beach-img"
      />
      <p class="paragraph">
        The Taraporewala Aquarium in Mumbai is India's oldest aquarium and one
        of the city's most popular tourist attractions. Many locals visit this
        aquarium with their families, and many children visit during school
        field trips. It is home to approximately 100 different fish species as
        well as other aquatic wildlife such as sharks, seahorses, and turtles.
        Freshwater, marine, and tropical fish from all around the world are
        included in the collection. Visitors enter the gallery through a glass
        tube that is surrounded by fish and water plants. Taraporewala Aquarium
        also includes fish in tanks in addition to the fish exhibition tunnel.
        It also contains a tiny museum with corals, seashells, and fish bones
        that have been preserved.
      </p>
      <div class="details">
        <strong>Location:</strong>
        <a href="https://goo.gl/maps/5tMMKDDHcFkn6gHz9"
          >Near Charni Road Station, Charni Road, Mumbai</a
        ><br />
        <strong>How to reach:</strong> Nearby Railway Station - Charni Road<br />
        Nearby Bus Stop - Taraporewala Aquarium<br />
        <strong>Entry Fee:</strong> Adult: ₹40<br />
        Students: ₹20<br />
        Child: ₹30<br />
        <strong>Nearby Places to visit:</strong> Girgaumn Chowpatty, Brabourn
        Stadium, Malabar View Point, Malabar Hill, Wankhede Stadium,
        Taraporewala Aquarium.
      </div>
    </section>

    <!-- Repeat similar sections for other beaches -->
  </body>
</html>
